body {
  font-family: Arial, sans-serif;
  background-color: #1a293d;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrollbars */
}

.container {
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.settings-button {
  background-image: url('images/settings.png');
  background-size: cover;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.new-profile-button {
  background-color: #498af2;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.tab-buttons {
  display: flex;
  margin-bottom: 10px;
}

.tab-button {
  background-color: #2c3e50;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.tab-button.active {
  background-color: #498af2;
}

.tab-content {
  margin-bottom: 10px;
}

.profiles-title,
.links-title {
  font-size: 18px;
  margin-bottom: 10px;
}

#profiles,
#links {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 10px;
}

.profile,
.link {
  background-color: #2c3e50;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.profile h3 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.profile p {
  margin: 0;
  font-size: 0.9em;
  color: #ccc;
}

.profile-buttons,
.link-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.fill-button,
.edit-button,
.delete-button,
.open-button {
  background-color: #498af2;
  color: #fff;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  font-size: 0.8em;
}

.add-link-button {
  background-color: #498af2;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#search {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a293d;
}

::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
